script(src='https://code.iconify.design/1/1.0.7/iconify.min.js')
script(type='text/javascript' scr='js/index.js').
script(src='js/jquery-3.6.0.js')
script(src='js/js.cookie.js')
script(src='js/toastr.js')
script(src='js/auth.js')
script(src='js/index.js')