extends layouts/layout
block content
    .posts
        section.features
            article
                h2 Полезные привычки на каждый день
                .postsFlex
                    iframe(width='560' height='315' src='https://www.youtube.com/embed/vDoAJB_D3tE?autoplay=0&mute=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    p Интегрируй полезные привычки в свою жизнь
                a(href='pages/poleznie_privichki') ...Читать далее...
                a(href='pages/sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Мой сайт
                .postsFlex
                    p  Мой сайт! Пользуйтесь услугами агенства "Ноги не нужны"
                    img(src='img/joke.jpg' width='250' height='350')
                a(href='pages/sport') ...Читать далее...
                a(href='pages/sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Как похудеть без диет и тренировок?!
                .postsFlex
                    p
                        | Скоро весна, а это значит, что девушки начнут приводить свое тело в форму после зимней спячки.  Я знаю, что многие из вас хотят похудеть без тренировок, и хотя я сторонник умеренных физических нагрузок, я решила раскрыть вам  некоторые секреты похудения без спорта.  В этом видео я расскажу какая физическая активность может заменить спорт, как обычная ходьба поможет стать вашему телу более подтянутым и стройным. А еще я устроила небольшой эксперимент: на целый день я откажусь от гаджетов которые помогают мне в быту, и посчитаю сколько калорий я потратила делая уборку, играя с кошкой, работая за компьютером.
                        a(href='pages/poxydenie_bez_trenirovok') ...Читать далее...
                    img(src='img/elina.png' width='300' height='400')
                a(href='pages/sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Протеиновые банановые маффины
                .postsFlex
                    img(src='img/ProtMaf.jpg' width='502' height='400')
                    p
                        | Высоко-протеиновые, крайне питательные маффины послужат отличным подспорьем для тех, кто не любит терять время за плитой. Благодаря низкому содержанию жиров и большому количеству полезных ингредиентов эти маффины с легкостью можно приравнять к фитнес-перекусу.
                        | Из всех компонентов у вас получится около 12 небольших маффинов. Если не увлекаться, этого запаса хватит больше, чем на неделю!
                        a(href='pages/protMaf') ...Читать рецепт...
                a(href='pages/nutrition') Раздел - Питание
    .posts
        section.features
            article
                h2 Полезные продукты в зимний период
                .postsFlex
                    p
                        | Зимой стоит тщательно относиться к выбору продуктов, иначе Вы рискуете сильно испортить свое здоровье. В зимнее время, организму особенно важно получать необходимые витамины и минералы для того чтобы поддерживать иммунитет и привычную активность. Здесь собран список продуктов, которые помогут Вам оставаться в форме и не терять продуктивность в холодную пору.
                        a(href='pages/clementin') ...Читать далее...
                    img(src='img/clementin.jpg' width='400' height='400')
                a(href='pages/nutrition') Раздел - Питание
    .posts
        section.features
            article
                h2 Подборка тренировок для стройной фигуры
                .postsFlex
                    img(src='img/mainsport.jpg' width='400' height='400')
                    p
                        | Сколько бы Вы ни сидели на жестких диетах, сколько бы ни морили себя голодом, сколько бы ни бегали к диетологу за тонной советов по поводу правильного, здорового, приводящего в идеальную форму питания - Вы никогда не добьетесь желаемого результата без регулярных тренировок
                        a(href='pages/sport1') ...Читать далее...
                a(href='pages/sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Рацион на 1200 ккал!
                .postsFlex
                    p
                        | Добавьте к этому рациону тренировки и добьетесь фигуры мечты!
                        a(href='pages/1200kkal') ...Читать рецепт...
                    img(src='img/img3.jpg' width='350' height='400')
                a(href='pages/nutrition') Раздел - Питание
    .posts
        section.features
            article
                h2 Почему так важно работать со своим подсознанием?
                .postsFlex
                    img(src='img/143.jpg' width='500' height='400')
                    p
                        | Сегодня нет человека, который бы не слышал о подсознании, которое таинственным и мистическим образом контролирует и управляет всеми жизненно важными функциями и психическими процессами человека. Я, почему-то, представляю себе подсознание в виде пчелиных сот, некоторые ячейки которого заполнены необходимыми для нашего счастья базовыми инструментами по умолчанию, от рождения, другие же - наполненными нашими умозаключениями, которые мы делаем в процессе получения того или иного жизненного опыта. В нашем подсознании хранятся все наши мысли, страхи, суждения, оценки и установки, ставшие негативными программами и блоками, мешающими исполнению наших желаний и успешной реализации планов и проектов.
                        a(href='pages/podsoznanie') ...Читать далее...
                a(href='pages/self_development') Раздел - Самореализация