extends ../layouts/layout
block content
    .posts
        section.features
            article
                h2 Рацион на 1200 ккал!
                .postsFlex
                    img(src='img/1200kkal.jpg' width='350' height='400')
                    p Добавьте к этому рациону тренировки и добьетесь фигуры мечты!
                a(href='nutrition') Раздел - Питание
    .posts
        section.features
            article
                div
                    h2 Завтрак
                    pre.
                        \n                1 Бутерброд из черного хлеба и небольшого количества масла. Яблоко и банан.
                          2. 300 мл нежирного молока, апельсин или яблоко.
                          3. Два хлебца с ложкой меда и небольшой банан.
                          4. Вареное яйцо с кусочком зернового хлеба и натуральный нежирный йогурт.
                          1 100 грамм нежирного вареного мяса или ветчины с салатом из капусты
                          2. 4 картофелины, сваренные в мундирах, с соевым соусом, и кусок нежирного сыра
                          1 100 грамм вареной курицы (или говядины) и большой овощной салат.
                          2. 100 грамм любых морепродуктов (мидии, креветки), заправленных лимонным соком, с салатом из помидоров и огурцов.
                          3. 200 грамм вареной или запеченной на гриле рыбы, полстакана фасоли и овощной салат.
                          - банан и яблоко;
                          - два зерновых хлебца и натуральный йогурт;
                          - 70 грамм нежирного сыра
                          - натуральный апельсиновый сок или апельсин с сухариком.
                a(href='nutrition') Раздел - Питание