extends ../layouts/layout
block content
    .posts
        section.features
            article
                h2 O проекте
                .postsFlex
                    img(src='img/mem.jpg' width='400' height='350')
                    p
                        | Да просто очередной бестолковый блог о здоровье, похудении и саморазвитии. Словом: о наболевшем
                a(href='poleznie_privichki') ...Читать далее...
                a(href='sport') Раздел - Спорт