extends ../layouts/layout
block content
    .posts
        section.features
            article
                h2 Полезные продукты в зимний период
                .postsFlex
                    p
                        | Зимой стоит тщательно относиться к выбору продуктов, иначе Вы рискуете сильно испортить свое здоровье. В зимнее время, организму особенно важно получать необходимые витамины и минералы для того чтобы поддерживать иммунитет и привычную активность. Здесь собран список продуктов, которые помогут Вам оставаться в форме и не терять продуктивность в холодную пору.
                    img(src='img/clementin.jpg' width='400' height='400')
                a(href='nutrition') Раздел - Питание
    .posts
        section.features
            article
                div
                    h2 Полезные продукты в зимний период
                    h3 Лук-порей
                    p1
                        | Данный представитель лукового семейства очень популярен в европейской кухне и несколько меньше в русской. С ним можно приготовить прекрасные пироги, супы, салаты, или использовать его в качестве гарнира. Лук-порей богат ценными минералами, такими как железо, калий, кальций, магний, фосфор и медь. Кроме этого в нем есть важные витамины: В1, В2, В3, В9, А и С. И приятным дополнением будет то, что этот овощ имеет мало калорий.
                    h3 Листовая капуста
                    p1
                        | Вы когда-нибудь пробовали приготовить гарнир к мясу из слегка обжаренной, с добавление кусочка сливочного масла, листовой капусты? Нет? Обязательно попробуйте. Это не только вкусно, но еще и полезно. Также ее можно приготовить на пару, что будет еще полезнее, или добавить в салат. Она богата витамином С, витаминами В1 и В2, фолиевой кислотой, калием, кальцием, цинком, медью и железом.
                    h3 Редис
                    p1
                        | Этот маленький хрустящий корнеплод, похожий на мышь, полезен в любой сезон, но зимой особенно. С ним получаются прекрасные яркие салаты. Он богат витаминами В1, В1, С и РР, а также минералами: кальцием, калием, железом, натрием, фосфором и магнием.
                    h3 Репа
                    p1
                        | Традиционный продукт славянской кухни, но сейчас несправедливо забытый. Из нее получаются очень вкусные салаты: сочные и хрустящие, немного острые и слегка терпкие от большого содержания эфирных масел. Ее можно запекать как картофель и морковь, а также добавлять в каши, как тыкву. Репа улучшает работу кишечника и очень полезна для людей с избыточным весом. Она богата полезными кислотами, витаминами С и РР, калием, а также в ней много полезной клетчатки.
                    h3 Цитрусовые
                    p1
                        | Блюдо с яркими фруктами не только обогащает нас витаминами, но еще и улучшает настроение. Лимоны, грейпфруты, мандарины, апельсины, помело богаты витамином С, витаминами В1,В2,А, микроэлементами и никотиновой кислотой. Мандарин не спроста стал символом Нового Года для холодной России – это наиболее дешевый способ поддержать организм витамином С, да и привычный для нас чай с лимоном, на Западе называемый «русский чай», тоже в холода питает нас этим незаменимым витамином.
                a(href='nutrition') Раздел - Питание