extends ../layouts/layout
block content
    .posts
        section.features
            article
                h2 Протеиновые банановые маффины
                .postsFlex
                    img(src='img/ProtMaf.jpg' width='402' height='300')
                    p
                        | Высоко-протеиновые, крайне питательные маффины послужат отличным подспорьем для тех, кто не любит терять время за плитой. Благодаря низкому содержанию жиров и большому количеству полезных ингредиентов эти маффины с легкостью можно приравнять к фитнес-перекусу.
                        | Из всех компонентов у вас получится около 12 небольших маффинов. Если не увлекаться, этого запаса хватит больше, чем на неделю!
                        a(href='protMaf') ...Читать рецепт...
                a(href='nutrition') Раздел - Питание
    .posts
        section.features
            article
                h2 Полезные продукты в зимний период
                .postsFlex
                    p
                        | Зимой стоит тщательно относиться к выбору продуктов, иначе Вы рискуете сильно испортить свое здоровье. В зимнее время, организму особенно важно получать необходимые витамины и минералы для того чтобы поддерживать иммунитет и привычную активность. Здесь собран список продуктов, которые помогут Вам оставаться в форме и не терять продуктивность в холодную пору.
                        a(href='clementin') ...Читать далее...
                    img(src='img/clementin.jpg' width='400' height='400')
                a(href='nutrition') Раздел - Питание
    .posts
        section.features
            article
                h2 Рацион на 1200 ккал!
                .postsFlex
                    img(src='img/1200kkal.jpg' width='350' height='400')
                    p
                        | Добавьте к этому рациону тренировки и добьетесь фигуры мечты!
                        a(href='1200kkal') ...Читать рецепт...
                a(href='nutrition') Раздел - Питание