extends ../layouts/layout
block content
    .posts
        section.features
            article
                h2 Полезные привычки на каждый день
                .postsFlex
                    iframe(width='560' height='315' src='https://www.youtube.com/embed/vDoAJB_D3tE?autoplay=1&mute=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    p Интегрируй полезные привычки в свою жизнь
                a(href='sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Полезные привычки на каждый день
                .postsFlex
                    p
                        | В этом видео я поделюсь с вами советами, как полюбить спорт и как сделать спорт - образом жизни. Если вы будете следовать моим рекомендациям, такие вопросы: как похудеть, как сделать тело красивым, как подготовиться к пляжу, отпадут сами собой, ведь вы поймёте, что все гораздо легче чем вы предполагали, главное сделать первый шаг на пути к своей цели
                    iframe(width='560' height='315' src='https://www.youtube.com/embed/SKE3rM7f5Os?autoplay=0&mute=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                a(href='sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Полезные привычки на каждый день
                .postsFlex
                    iframe(width='840' height='472' src='https://www.youtube.com/embed/vDoAJB_D3tE?autoplay=0&mute=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                a(href='sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Полезные привычки на каждый день
                .postsFlex
                    iframe(width='840' height='472' src='https://www.youtube.com/embed/Uvc-FQPA20k?autoplay=0&mute=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                a(href='sport') Раздел - Спорт