extends ../layouts/layout
block content
    .posts
        section.features
            article
                h2 Протеиновые банановые маффины
                .postsFlex
                    img(src='img/ProtMaf.jpg' width='402' height='300')
                    p
                        | Высоко-протеиновые, крайне питательные маффины послужат отличным подспорьем для тех, кто не любит
                        | терять время за плитой. Благодаря низкому содержанию жиров и большому количеству полезных
                        | ингредиентов эти маффины с легкостью можно приравнять к фитнес-перекусу.
                        | Из всех компонентов у вас получится около 12 небольших маффинов. Если не увлекаться, этого запаса
                        | хватит больше, чем на неделю!
                        a(href='protMaf') ...Читать рецепт...
    .posts
        section
            article1
                pre.
                    \n
                h2 Способ приготовления:
                p1
                    | Разогрейте духовку до 220 С.
                    | В большой емкости смешайте все сухие ингредиенты и отставьте в сторону.Приготовьте коричневое масло:
                    | нарежьте сливочное масло на ломтики, выложите в ковш, нагрейте до 180С. Дождитесь момента, когда на
                    | поверхности масла появятся небольшие пузыри и оно приобретет карамельный оттенок. Сразу снимайте с плиты, не
                    | пережаривайте масло!В емкости поменьше растолките бананы, мед, коричневый сахар, греческий йогурт, яйцо и
                    | перемешайте между собой до мягкой однородной массы. Влейте миндальное молоко, размешайте. Добавьте остальные
                    | влажные ингредиенты: арахисовое масло, ванилин и коричневое масло. Хорошенько взбейте смесь
                    | миксером.Медленно вливайте жидкость в сухую смесь, постоянно помешивая. Но долго не замешивайте тесто, иначе
                    | маффины будут жесткими.Выложите тесто в формочки для маффинов почти до краев. Выпекайте при температуре 220
                    | С около 7 минут, убавьте огонь в духовке до 180 С и продолжайте выпекать, периодически протыкая кексы
                    | зубочисткой и проверяя степень готовности около 10-12 минут (если кексы не готовы, зубочистка будет влажная,
                    | если зубочистка сухая - быстро вынимайте кексы из духовки).
                a(href='nutrition') Раздел - Питание