extends ../layouts/layout
block content
    .posts
        section.features
            article
                h2 Полезные привычки на каждый день
                .postsFlex
                    iframe(width='560' height='315' src='https://www.youtube.com/embed/vDoAJB_D3tE?autoplay=1&mute=1' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    p Интегрируй полезные привычки в свою жизнь
                a(href='poleznie_privichki') ...Читать далее...
                a(href='sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Как похудеть без диет и тренировок?!
                .postsFlex
                    p
                        | Скоро весна, а это значит, что девушки начнут приводить свое тело в форму после зимней спячки.  Я знаю, что многие из вас хотят похудеть без тренировок, и хотя я сторонник умеренных физических нагрузок, я решила раскрыть вам  некоторые секреты похудения без спорта.  В этом видео я расскажу какая физическая активность может заменить спорт, как обычная ходьба поможет стать вашему телу более подтянутым и стройным. А еще я устроила небольшой эксперимент: на целый день я откажусь от гаджетов которые помогают мне в быту, и посчитаю сколько калорий я потратила делая уборку, играя с кошкой, работая за компьютером.
                        a(href='poxydenie_bez_trenirovok') ...Читать далее...
                    img(src='img/elina.png' width='300' height='400')
                a(href='sport') Раздел - Спорт
    .posts
        section.features
            article
                h2 Почему так важно работать со своим подсознанием?
                .postsFlex
                    img(src='img/143.jpg' width='500' height='400')
                    p
                        | Сегодня нет человека, который бы не слышал о подсознании, которое таинственным и мистическим образом контролирует и управляет всеми жизненно важными функциями и психическими процессами человека. Я, почему-то, представляю себе подсознание в виде пчелиных сот, некоторые ячейки которого заполнены необходимыми для нашего счастья базовыми инструментами по умолчанию, от рождения, другие же - наполненными нашими умозаключениями, которые мы делаем в процессе получения того или иного жизненного опыта. В нашем подсознании хранятся все наши мысли, страхи, суждения, оценки и установки, ставшие негативными программами и блоками, мешающими исполнению наших желаний и успешной реализации планов и проектов.
                        a(href='podsoznanie') ...Читать далее...
                a(href='self_development') Раздел - Самореализация